.a-wrapper{
    display: flex;
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
    background: #000046;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #1CB5E0, #000046);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #1CB5E0, #000046); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.a-left{
    display: flex;
    width: 50%;
    padding: 3%;
    gap: 2px;
    flex-direction: column;
}

.a-name{
    display: flex;
    flex-direction: column;
}


.a-name span:nth-child(1){
color: var(--black);
font-weight: bold;
font-size: 4rem;
}

.a-name span:nth-child(2){
    color: #ecb8b9;
    font-weight: bold;
    font-size: 3rem;
}

.a-name span:nth-child(3){
    font-weight: 100;
    font-size: 1rem;
    color: var(--orange);
}

.a-img{
    display: flex;
    margin-top: 2rem;
    gap: 1rem;
}

.a-img img{
    width: 50px;
    height: 50px;
    background-image: none;
    border-radius: 15%;

}

.a-img img:hover{
cursor: pointer;

}

.a-right{
    display: flex;
    flex: 1;
    position: relative;
    
}

.a-right>*{
    z-index: 1;
}


.a-right img{
    border-radius: 30%;
    width: 400px;
    height: 550px;
    margin-right: 10%;
    margin-left: 10rem;
}
.a-right img:hover{
    box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42)
}


@media screen and (min-width:769px)and  (max-width:1200px){
    .a-left{
        width: 80%;
        margin: auto;
    }
}
@media screen and (min-width: 320px)and (max-width:768px){
    .a-left{
        width: 80%;
        
        margin: auto;
    }
    .a-name span:nth-child(1){
        font-size: 50px;
    }
    .a-name span:nth-child(2){
            font-size: 40px;
    }
    .a-name span:nth-child(3){
        font-weight: 70;
        font-size: 15px;
       
    }

}