.g-main{
    display: flex;
    margin-top: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


 
.g-main img{
    width: 30%;
    
}
@media screen and (min-width: 320px)and (max-width:768px){
    .g-main img{
        width: 50%;
    }
}


