.about{
    width: 100%;
    background-color: bisque;
    height: 500px;
    padding: 3rem;
}

.h-projects{
    padding: 0 2rem;
    margin: auto;
    margin-top: 3rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.p-text{
    font-size: 40px;
    margin: 5% auto;
   
    text-align: center;
    font-weight: bold;
}
.view-section{
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}
.l-view{
    width: 50%;
}
.l-view img{
    width: 100%;
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.r-view{
   font-size: 35px;
   width: 45%;
   margin-left: 5%;

}

.stacks{
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    align-items: center;
    margin-top: 2rem;
}
.stacks img{
    width:50px;
    margin: auto;
}

.p-cards{
    display: flex;
    padding: 0 50px;
    width:100%;
    margin: 2rem auto;
    justify-content:space-around;
    
    
}


.p-cards img{
    width: 80%;
    box-shadow: rgba(174, 255, 0, 0.808) 0px 2px 5px -1px, rgb(255, 253, 253) 0px 1px 3px -1px;
    border-radius: 15px;
    border: 2px solid white;
}
.p-cards img:hover{
    box-shadow: rgba(204, 94, 196, 0.793) 0px 5px 15px;
    width: 90%;
   
}
.p-head{
    font-weight: bold;
    word-spacing: 3px;
    color: var(--yellow);
}
.p-title{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.p-btn{
  margin: 30px 30px;
  color: black;
  background: #6190E8;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #A7BFE8, #6190E8);

    padding: 15px;
    border-radius:30px;
}
.p-btn:hover{
    background: #F7971E;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #FFD200, #F7971E);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #FFD200, #F7971E);
transition: all ease-in  100ms;
box-shadow:0px 20px 24px 3px #6190E8 ;

}
.r-stack{
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 3%;

}
.p-type{
    color: var(--yellow);
    font-size: 30px;

}
.p-types{
    margin-top: 20px;
}
.p-tech{
    margin-top: 20px;
    font-size: 30px;
}

.g-text{
    font-size: 40px;
    margin: 1% auto 3%;
    text-align: center;
    font-weight: bold;
    
}
.pr-btns-div{
    width: 100%;
}

@media screen and (min-width: 320px)and (max-width:768px){
    .pr-btns-div{
        display: flex;
        gap: 1%;
        width:90%;
    }
    .p-btn{
        width: auto;
        padding: 10px;
        margin: 2rem 0;
    }
    
    .l-view{
        width: 100%;
    }
    .r-view{
        width: 100%;
    }
    .p-type{
        color: orange;
        font-size: 20px;
    
    }
    .p-head{
        margin-top: 3%;
    }
    
}

@media screen and (min-width:769px)and  (max-width:1200px){
    .l-view{
        width: 90%;
    }
    .r-view{
        width: 90%;
    }
    .p-type{
        color: orange;
        font-size: 20px;
    
    }
    .p-head{
        margin-top: 3%;
    }
}

