.s-main{
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding: 2% 1%;
    background-color: blanchedalmond;
    justify-content: space-around;
    margin: auto;
    border-radius: 15px;
    gap: 5%;
}
.s-read{
    color: black;
    text-align: center;
    margin-bottom: 30px;
}
.s-main img{
    padding: 3%;
    width: 150px;
    height: 150px;
    margin: 1%;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 5px;
}
.s-main img:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: all ease-in 500ms;
}
.s-head{
    font-size: 60px;
    color: var(--yellow);
    text-align: center;
    margin: 4rem auto 1rem;
}
@media screen and (min-width:769px)and  (max-width:1200px){
    .s-main{
        width: 70%;
    }
    .s-main img{
        width: 120px;
        height: 120px;
    }
    .s-read{
        font-size: 15px;
    }
    .s-head{
        font-size: 20px;
    }
}

@media screen and (min-width: 320px)and (max-width:768px){
    .s-main{
        width: 100%;
        
    }
    .s-main img{
        width: 100px;
        height: 100px;
    }
    .s-head{
        font-size: 20px;
       
    }
    .s-read{
        font-size: 10px;
    }
}