:root
{
  --yellow: #F5C32C;
    --orange : #FCA61F;
    --black : #242D49;
    --gray : #788097;
    --blueCard : #DDF8FE;
    --purple: rgb(238 210 255);
    --boxShadow : 0px 19px 60px rgb(0 0 0 / 8%);
    --orangeCard: rgba(252, 166, 31, 0.45);
    --smboxShadow: -79px 51px 60px rgba(0, 0, 0, 0.08);
    
}

.App{
   
    color: white; 
   background-color:#242D49;
}
.hrlin{
  width: 90%;
  margin: auto;
  border:1px solid white;
}
.headingspan{
  color: orange;
  font-size: 40px;

}
.button{
  border-radius: 34px;
  height: 50px;
  margin: 10px;
  width: auto;
  border: none;
  color: white;
  font-size: 15px;
  padding: 11px 26px 11px 26px;
  background-image: linear-gradient(to right top, #ecc4ee, #eeb1ec, #f09ce9, #f386e4, #f66dde);
  box-shadow: 0px 20px 24px 3px rgba(251,161,40,0.42)
}
  
.button:hover{
  background-image: linear-gradient(to right top, #dc70e1, #df7ade, #e184db, #e28ed8, #e398d6);
  box-shadow:0px 20px 24px 3px rgba(241, 138, 3, 0.42) ;
}
  
@media screen and (min-width: 320px)and (max-width:768px){
  .a-wrapper{
      display: inline;
      text-align: center;
  }
  .p-text{
    font-size: 20px;
  }
  .headingspan{
    color: burlywood;
    font-size: 20px;
  
  }
  .a-right img{
    margin: auto;
    width: 300px;
    height: 400px;
  }
  .a-img{
    margin: 5% auto;
  }

  /* Navbar */
  .navwrapper{
    display: flex;
    padding: 10px 10px;
  }
  
  .n-name{
    font-size: 13px;
  }
  .n-right{
    width: 100%;
  }
  .n-list{
    width: 120%;
    display: flex;
    margin-left: 20%;
    align-items: center;
    justify-content: flex-end;
  }
  .n-btn{
    display: none;
  }
  .n-list>ul{
    display: flex;
    flex-wrap: wrap;
    color: white;
    flex-wrap: wrap;
    gap: 0.5rem;
    list-style-type:none;
}
.n-list ul li{
    font-size: 10px;
}
.n-list ul a{
  font-size: 10px;
}
  


/* Projects */

.view-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.l-view img{
  width: 100%;
  margin: auto;
}
.l-view{
  width: 100%;
  
}

.r-view{
  font-size: 20px;
  width: 100%;
}
.p-head{
  font-size: 25px;
}
.p-title{
  font-size: 20px;
  color: orange
}
.p-des{
  font-size: 15px;
}

.p-tech-title{
  font-size: 20px;
  color: orange;
  
}
.stacks img{
  width: 25px;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
}
.p-type{
  font-size: 20px;
  color: orange;

}
.p-types{
  font-size: 15px;
  
}
.pr-btns-div{
  display: flex;
  gap: 2rem;

}
.pr-btns-div button{
  width:auto;
  height: 40px;
  padding: 9px 24px 9px 24px;
  font-size: 13px;
  
}
.p-cards{
  width: 100%;
}
.p-cards img{
  width: 80%;
}



}


@media screen and (min-width:769px)and  (max-width:1200px){

  /* About */


  .a-wrapper{
    display: flex;
    flex-direction: column-reverse;
     text-align: center;
     
  }
  .a-right img{
    margin: auto;
  }
  .a-img{
    margin: 5% auto;
  }

  /* Navbar */


  .navwrapper{
    

  }
  .n-right{
  
  }
  .n-list>ul{
    display: flex;
    color: white;
    flex-wrap: wrap;
    gap: 1rem;
    margin-right: 4rem;
    list-style-type:none;
}
.n-list ul li{
    font-size: 14px;
}
.n-list ul a{
  font-size: 14px;
}
.n-btn{
  margin: auto;
}
  


  /* Projects */

  .view-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }
  .l-view img{
    width: 80%;
    margin: auto;
  }
  .l-view{
    width: 100%;
    
  }
  .r-view{
    font-size: 20px;
    width: 100%;
  }
  .p-head{
    font-size: 25px;
  }
  .p-title{
    font-size: 20px;
    color: orange
  }
  .p-des{
    font-size: 15px;
  }
  
  .p-tech-title{
    font-size: 20px;
    color: orange;
    
  }
  .stacks img{
    width: 25px;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
  }
  .p-type{
    font-size: 20px;
    color: orange;

  }
  .p-types{
    font-size: 15px;
    
  }
  .pr-btns-div{
    display: flex;
    gap: 2rem;

  }
  .pr-btns-div button{
    width:auto;
    height: 40px;
    padding: 9px 24px 9px 24px;
    font-size: 13px;
    
  }
  .p-cards{
    width: 100%;
  }
  .p-cards img{
    width: 80%;
  }

  
  .g-main img{
    width: 80%; 
}

}

